<h1 class="margin">Rails Live Dashboard</h1>
<div class="grid">

	<div class="s12 m6 l4">
		<article>
			<h6>Mode</h6>
			<%= Rails.env %>
		</article>
	</div>

	<div class="s12 m6 l4">
		<article>
			<h6>Rails Version</h6>
			<%= Rails.version %>
		</article>
	</div>

	<div class="s12 m6 l4">
		<article>
			<h6>Cable Connections</h6>
			<%= ActionCable.server.connections.length %>
		</article>
	</div>

	<div class="s12 m6 l4">
		<article>
			<h6>Database</h6>
			<%= Rails.configuration.database_configuration[Rails.env] %>
			Adapter: <%= ActiveRecord::Base.connection_db_config.adapter %> - Pool: <%= ActiveRecord::Base.connection_db_config.pool %>
		</article>
	</div>

	<div class="s12 m6 l4">
		<article>
			<h6>Ruby Version</h6>
			<%= "#{RUBY_VERSION} - #{RUBY_PATCHLEVEL} - #{RUBY_PLATFORM} - #{RUBY_RELEASE_DATE}"%>
		</article>
	</div>

	<div class="s12">
		<article>
			<h6>Environment</h6>
			<%= Rails::Info.properties %>
		</article>
	</div>

</div>
